/*

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@font-face {
    font-family: "SVN-Poppins Bold";
    src: url("../fonts/svn-poppins/SVN-Poppins-Bold.ttf");
}

@font-face {
    font-family: "SVN-Poppins Regular";
    src: url("../fonts/svn-poppins/SVN-Poppins-Regular.ttf");
}

@font-face {
    font-family: "SVN-Poppins Medium";
    src: url("../fonts/svn-poppins/SVN-Poppins-Medium.ttf");
}

@font-face {
    font-family: "SVN-Blog Script";
    src: url("../fonts/svn-blog/SVN-Blog-Script.ttf");
}

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'SVN-Poppins Regular', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'SVN-Poppins Bold', sans-serif;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}

img {
  max-width: 100%;
  height: auto;
}

button, input {
    overflow: visible;
}

button, optgroup, select, textarea {
      line-height: 1.15;
    -webkit-box-shadow: inset 0 0 0 9999px transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.error-message,
input+.error,
select+.error{
  font-size: 13px;
  color: #f00;
  margin-top: 5px;
}
a {
  color: var(--primary);
}
a:hover {
  color: var(--red);
}
.form-control:focus{
  box-shadow: unset;
  outline: none;
  border-color: var(--primary);
}
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

::selection {
  background: #2a2a2a;
  color: #fff;
}

::-moz-selection {
  background: #2a2a2a;
  color: #fff;
}

:root {
    --primary: #FBB03A;
    --secondary: #1F1F1F;
    --light: #F3F4F5;
    --dark: #282F34;
    --white: #ffffff;
    --red: #F0141A;
    --gray: #4A4A4A;
    --bg-third: #F1F1F1;
    --bg-light: #E2E2E2;
    --bg-light-v2: #F3F3F3;
    --bg-footer: #222222;
    --purple: #111A48;
    --gray-v2: #858585;
    --gray-v3: #909090;
    --black: #000000;
}

@media (max-width: 991px) {
    .container {
        width: 90% !important;
        padding: 0 15px;
        max-width: 100% !important;
    }

}

/* @media (min-width: 1200px) {
    .container {
        width: 90% !important;
        max-width: 100% !important;
    }
} */


@media(max-width: 990px) {
    .container {
        width: 95% !important;
        padding: 0 15px;
        max-width: 100% !important;
    }

}

@media(max-width: 580px) {
    .container {
        width: 100% !important;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .row>div {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.main-border-button a {
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 25px;
  display: inline-block;
  font-weight: 500;
  transition: all .3s;
}

.main-border-button a:hover {
  background-color: #fff;
  color: #2a2a2a;
}

.main-white-button a {
  font-size: 13px;
  color: #2a2a2a;
  background-color: #fff;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.main-white-button a:hover {
  opacity: 0.9;
}

.main-text-button a {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  transition: all .3s;
}

.main-text-button a:hover {
  opacity: 0.9;
}

.section-heading p {
  line-height: 24px;
  letter-spacing: 0.98px;
  text-transform: capitalize;
  color: var(--gray);
  margin-bottom: 12px;
}

.section-heading h5 {
  color: var(--secondary);
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
}



/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  border-bottom: none !important;
  background-color: var(--white);
  height: 80px!important;
  position: fixed!important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #1e1e1e!important;
}

.background-header .main-nav .nav li:hover a {
  color: #2a2a2a!important;
}

.background-header .nav li a.active {
  color: #2a2a2a!important;
}

.header-area .main-nav {
  /*min-height: 80px;*/
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 100px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area.sticky-top {
  transition: .5s;
  background: var(--white);
  padding: 7px 0;
}

.background-header .main-nav .logo {
  line-height: 75px;
}

.background-header .nav {
  margin-top: 20px !important;
}

.header__menu {
  text-align: center;
}

.header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.header__menu ul li a {
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary);
    display: block;
    font-family: "SVN-Poppins Medium";
    text-transform: uppercase;
}

.header__menu ul li.active a, 
.header__menu ul li a:hover {
    color: var(--red);
}

.header__nav__option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    position: relative;
}

.header__nav__option >a ,
.header__nav__option .search-switch {
  background: var(--bg-third);
  padding: 9px;
  border-radius: 30px;
  position: relative;
  height: 42px;
}
.header__nav__option .search-switch{
  position: unset;
}
.header__nav__option >a:last-child {
  background: var(--primary);
}

.header__nav__option >a:last-child span {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  height: 16px;
  font-size: 11px;
  color: var(--white);
  background: var(--red);
  border-radius: 99px;
  text-align: center;
}

.header__nav__option.active > a{
  opacity: 0;
}

.canvas__open,
.offcanvas-menu-wrapper  {
    display: none;
}


.search-switch .icon-search{
  cursor: pointer;
}

.search-form{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  background: var(--bg-third);
  padding: 0 20px;
  opacity: 0;
  z-index: -1;
}
.search-form.active{
  opacity: 1;
  z-index: 9;
}
.search-form .btn-search{
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  z-index: 9;
  border: 0;
  padding: 0;
  font-size: 20px;
}
.search-form input{
  border: 0;
  background-color: var(--bg-third);
  font-size: 14px;
  padding-right: 30px;
  height: 42px;
}
.search-form input:focus-visible{
  outline: none;
}
.search-form-close{
  position: absolute;
  top: -5px;
  right: -5px;
}

.search-form .search-suggest-list{
  width: 500px;
}
.search-form .dropdown-item{
  font-size: 14px;
  display: flex;
  white-space: normal;
}
.search-form .dropdown-item:active{
  background: unset;
}
.search-form .dropdown-item > a{
  width: 80px;
  height: 80px;
  margin: 0 15px 0 0;
  overflow: hidden;
}
.search-form .dropdown-item a{
  color: #000;
}
.search-form .viewmore {
  color: #000;
  font-size: 14px;
}

.search-form .viewmore:hover {
  color: var(--red);
}
.search-form .viewmore svg {
    width: 15px;
    margin-left: 5px;
}

.dropdown-menu-end {
  right: 0;
}


.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content>div{
/*  flex: 1;*/
}
.header-content .header__menu{
/*  width: 100%;*/
}

@media(max-width: 1300px)
{
  .header__menu ul li{
    margin-right: 20px;
  }
}
/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.item-banner {
  position: relative;
}

.content-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-banner h5 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: 19px;
}

.content-banner h5 span {
  color: var(--primary);
}

.content-banner h5 span:first-child {
  font-size: 55px;
}

.content-banner h5 span:last-child {
  font-size: 36px;
}

.content-banner p {
  line-height: 24px;
  color: var(--secondary);
}

.content-banner p:nth-child(3) {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;
}

.content-banner p:first-child {
  display: inline-block;
  background: var(--secondary);
  color: var(--white);
  padding: 10px 25px;
  margin-bottom: 9px;
  
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.76px;
  text-transform: uppercase;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.content-banner a {
  background: var(--primary);
  color: var(--white);
  line-height: 24px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
  font-family: 'SVN-Poppins Bold', sans-serif;
  padding: 7px 34px;
  border-radius: 21px;
}

.slider-banner .owl-dots {
  position: absolute;
  height: 45px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.slider-banner .owl-dots .owl-dot span {
  width: 17px;
  height: 3px;
  border: 1px solid var(--bg-light);
  background: var(--bg-light);
  border-radius: 9px;
  display: block;
}

.slider-banner .owl-dots .owl-dot.active span {
  border-color: var(--primary);
  background: var(--primary);
}

.slider-banner .hs-item {
  height: 100%;
/*  max-height: 600px;*/
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media(max-width: 767px)
{
  .slider-banner .hs-item {
    
  }
}

/*
---------------------------------------------
Product
---------------------------------------------
*/

.product-block {
  padding: 60px 0;
}

.item .down-content {
  padding-top: 12px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.down-content h4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.down-content h4 a {
  display: block;
  color: var(--black);
}

.item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 50%;
  transform: translate3d(-50%,20px,0);
  bottom: -60px;
  padding: 12px 4px;
  max-width: calc(100% - 1rem);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  border-radius: 6px;
  background: rgba(200, 200, 200, 0.32);
  backdrop-filter: blur(6px);
}

.item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.item .thumb {
  position: relative;
}

.item .thumb:before {
  content: "";
  display: block;
  padding-top: 120%;
}
.item .thumb a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item .thumb img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

.item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}

.nav-product-tabs {
  justify-content: flex-end;
}

.product-block .nav-product-tabs li a {
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 24px;
  font-family: 'SVN-Poppins Medium', sans-serif;
  text-transform: capitalize;
  color: var(--secondary);
}

.product-block .nav-product-tabs li a.active {
  background-color: transparent;
  color: var(--primary);
  border-bottom-color: var(--primary);
}

.item .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
  background: var(--red);
  color: var(--white);
  padding: 10px 5px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
}

.product-slider .owl-prev,
.product-slider .owl-next,
.news-slider .owl-prev,
.news-slider .owl-next {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  line-height: 30px;
  height: 30px;
  font-size: 25px;
}

.product-slider .owl-prev,
.news-slider .owl-prev {
  left: -5%;
}

.product-slider .owl-next,
.news-slider .owl-next {
  right: -5%;
}

.product-variantcolor {
  margin-bottom: 8px;
}

.product-variantcolor .swatch_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swatch-element {
  border: 1px solid transparent;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.swatch-element.active {
  border-color: var(--primary);
}

.swatch-element span {
  margin: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
}

.swatch-element span.white {
  background: var(--white);
}

.swatch-element span.purple {
  background: var(--purple);
}

.swatch-element span.gray {
  background: var(--gray-v2);
}

.swatch-element span.black {
  background: var(--black);
}

.hover-content p {
  font-size: 10px;
  line-height: 20px;
  color: var(--black);
  margin-bottom: 4px;
}

.option-select {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.option-select .option-select__item input {
  display: none;
}

.option-select .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 24px;
  border-radius: 12px;
  background-color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all .3s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.option-select .checkmark:hover {
  background: var(--primary);
  color: var(--white);
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.price span {
  font-size: 14px;
  line-height: 24px;
  color: var(--red);
  font-weight: 700;
}

.price del span {
  color: var(--gray-v2);
  font-weight: 400;
}

.price ins {
  text-decoration: none;
}

.price ins span {
  font-family: 'SVN-Poppins Bold', sans-serif;
}

.view-more {
  text-align: center;
  margin-top: 40px;
}

.btn-main,
.view-more a,
.Advertising_adv a {
  background: var(--primary);
  color: var(--white);
  padding: 9px 39px;
  border-radius: 21px;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}
button.btn-main{
  border: 0;
}

.view-more a:hover,
.Advertising_adv a:hover {
  background: var(--red);
  color: var(--white);
}

.view-more a:focus,
.Advertising_adv a:focus {
  box-shadow: none;
}

@media(max-width: 767px)
{
  .product-block{
    padding: 30px 0;
  }
}
/*
---------------------------------------------
Banner
---------------------------------------------
*/

.Advertising_adv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.bg-banner {
  position: relative;
}

.bg-banner {
  height: 320px;
}

.img-banner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  background: url('../img/banner.png') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.Advertising_adv h5 {
  font-size: 36px;
  color: var(--secondary);
  line-height: 52px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.Advertising_adv h5 span {
  display: block;
}

.Advertising_adv p {
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
  margin-bottom: 20px;
}

/*
---------------------------------------------
Kids
---------------------------------------------
*/

.title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title-box a {
  line-height: 24px;
  color: var(--gray-v2);
  text-decoration: underline;
}

/*
---------------------------------------------
Polo
---------------------------------------------
*/

.img-polo {
  background: url('../img/banner2.png') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* 
---------------------------------------------
Short
--------------------------------------------- 
*/

.img-short {
  background: url('../img/banner3.png') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* 
---------------------------------------------
Under
--------------------------------------------- 
*/

.img-under {
  background: url('../img/banner4.png') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* 
---------------------------------------------
News
--------------------------------------------- 
*/

.news-block {
  background: var(--bg-light-v2);
}
#page-content .news-block {
  background: unset;
}

.content-wrapper {
  padding-top: 20px;
}

.content-wrapper p {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: var(--gray);
}

.content-wrapper h4 {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.content-wrapper a {
  color: var(--black);
}

.content-wrapper a:hover {
	color: var(--primary);
}

@media(max-width: 767px)
{
  .content-wrapper h4{
    font-size: 14px;
    line-height: 20px;
  }
}

/* 
---------------------------------------------
Ads
--------------------------------------------- 
*/

.ads-item a {
  display: block;
  position: relative;
}

.ads-item img {
  width: 100%;
}

.content-ads {
  position: absolute;
  top: 22px;
  left: 30px;
  width: 35%;
}

.content-ads h6 {
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--secondary);
}

.ads-item:nth-child(even) .content-ads h6 {
  color: var(--white);
}

/* 
---------------------------------------------
Right Contact
--------------------------------------------- 
*/

.group-right {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--primary);
  filter: drop-shadow(-4px 4px 11px rgba(153, 50, 31, 0.36));
  border-radius: 10px 0 0 10px;
}

.group-right .item {
  text-align: center;
}

.group-right .item a {
  padding: 9px 5px;
  display: block;
}

.group-right .item:not(:last-child) {
  border-bottom: 1px solid var(--white);
}

.group-right p {
  font-size: 9px;
  margin-bottom: 0;
  color: var(--white);
  line-height: 12px;
  text-transform: capitalize;
}


/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

.item-services {
  text-align: center;
  padding: 19px 50px;
}

.item-services:nth-child(odd) {
  background: var(--primary);
}

.item-services:nth-child(even) {
  background: #FFBA4D;
}

.item-services p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 24px;
  color: var(--white);
}

.item-services .thumb {
  margin-bottom: 12px;
}

/* .main-footer {
  background: var(--bg-footer);
} */

.main-footer h5 {
  color: var(--primary);
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.main-footer li{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.main-footer li p,
.footer-info p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
}

.content-contact {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-footer .phone-contact p {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.24px;
}

.phone-contact a {
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.32px;
}

.rw-right a {
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
}

.rw-right a:hover {
  color: var(--primary);
}

.rw-right p {
  color: var(--white);
  font-feature-settings: 'clig' off, 'liga' off;
  margin-bottom: 30px;
}

.form-letter input[type="email"] {
    border-radius: 4px;
    padding: 13px 23px;
    font-size: 14px;
}

.form-letter input[type="email"]:placeholder {
  color: #C7C7C7;
}

.form-letter input[type="email"]:focus,
.btn-submit button:focus {
  box-shadow: none;
}

.form-letter .email {
  margin-bottom: 14px;
}

.btn-submit button {
  background: var(--primary);
  color: var(--white);
  padding: 7px 30px;
  border-radius: 4px;
  line-height: 28px;
  font-family: 'SVN-Poppins Bold', sans-serif;
}

.btn-submit button:hover {
  color: var(--white);
}

.bottom-footer {
  background: var(--bg-footer);
  border-top: 1px solid rgba(210, 210, 210, 0.08);
  padding: 30px 0 25px;
}

.bottom-footer p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.52);
  line-height: 23px;
  margin-bottom: 0;
}

.bottom-footer ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 
---------------------------------------------
Search Modal
--------------------------------------------- 
*/

.search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999;
}

.search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.search-model-form {
    padding: 0 15px;
}

.search-model-form input[type="text"] {
    width: 500px;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid #333;
    background: 0 0;
    color: #999;
}


/* 
---------------------------------------------
Products Page
--------------------------------------------- 
*/

.button-list {
  background: var(--primary);
  padding: 20px 0;
}

.group-button-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.item-button a {
  padding: 12px 26px;
  display: block;
  color: var(--white);
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.14);
}

.item-button a:hover {
  background: var(--white);
  color: var(--primary);
}

.productFilterForm {
  text-align: center;
}

.productFilterForm label {
  text-transform: capitalize;
  font-family: 'SVN-Poppins Bold', sans-serif;
  color: var(--black);
  line-height: 24px;
}

.productFilterForm select {
  padding: 9px 24px;
  border-radius: 43px;
  border: 1px solid var(--light);
  font-size: 14px;
  line-height: 24px;
  width: 140px;
}

.productFilterForm select:focus-visible {
  outline: none;
}

.productFilterForm button {
  background: transparent;
  color: var(--red);
  text-decoration: underline;
  border: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
}

.list-group-product {
/*  padding-top: 15px;*/
}

.list-group-product .item {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 10px;
}

/* .product-view-more {
  text-align: center;
  padding-top: 28px;
} */


/* .product-view-more button:hover {
  color: var(--white);
  background: var(--red);
} */

.product-view-more p {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--gray-v2);
  letter-spacing: 0.32px;
  text-transform: capitalize;
  padding-top: 12px;
}


.sale-off,
.item-button a.sale-off {
  font-family: 'SVN-Blog Script', serif;
  background: var(--red);
  line-height: 18px;
  padding-top: 18px;
}

.sale-off:hover,
.item-button a.sale-off:hover {
  color: var(--white);
}


.header__menu ul li a.sale-off{
  padding: 5px 10px 0;
  color: #fff;
  border-radius: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 31px;
  font-family: 'SVN-Blog Script', serif;
}
/* 
---------------------------------------------
Single Product Page
--------------------------------------------- 
*/

.product-single {
  padding-top: 30px;
}

.product-single__images {
  position: relative;
}

.product-single__img a {
  overflow: hidden;
  border-radius: 20px;
}

.product-single__images .thumbs {
  position: absolute;
  bottom: 36px;
  right: 16px;
}

.product-single__images .product-single__gallery .slick-track {
  display: flex;
  flex-flow: column;
  gap: 13px;
  min-width: 50px;
}

.item-thumb {
  width: 50px !important;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,.2666666667);
  opacity: .4;
  transition: all .3s;
  cursor: pointer;
}

.item-thumb.slick-current {
  opacity: 1;
  border-color: var(--black);
}

.breadcrumbs-single {
  margin-bottom: 24px;
}

.breadcrumbs-single .breadcrumb-item+.breadcrumb-item::before {
  content: '>';
}

.breadcrumbs-single a,
.breadcrumbs-single li {
  font-size: 13px;
  color: var(--gray-v3);
  line-height: 24px;
}

.breadcrumbs-single li:first-child a {
  text-decoration: underline;
}

.breadcrumbs-single li.active {
  color: var(--dark);
  text-transform: capitalize;
}

.sale-detail {
  background: var(--red);
  color: var(--white);
  border-radius: 50%;
  font-size: 10px;
  font-family: 'SVN-Poppins Bold', sans-serif;
  line-height: 35px;
  text-align: center;
  width: 35px;
  height: 35px;
}

.product-single .product-info h6 {
  font-size: 26px;
  line-height: 40px;
  color: var(--secondary);
  line-height: 40px;
}

.price-sale {
  margin-top: 12px;
}

.product-single__option {
  position: relative;
  transition: all .3s;
}

.product-single__options .option-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-heading__title {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
}

.option-heading__title span {
  font-family: 'SVN-Poppins Bold', sans-serif;
}

.product-single__options .option-heading__title span.text--bold {
  margin-left: 5px;
}

.product-single__options .option-select__inner {
    position: relative;
/*    overflow: hidden;*/
}

.product-single__options .option-select__item {
  position: relative;
  padding: 6px;
  min-width: 16.6666666667%;
}

.product-single__options .option-select__item--color {
    overflow: hidden;
    min-width: 65px;
}

.product-single__options .option-select {
    margin-left: -6px;
    margin-right: -6px;
    position: relative;
}

.product-single__options .option-select {
    position: unset;
}

.product-single__options .option-select__item .checkmark {
  width: 100%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 16px;
  background: #d9d9d9;
}
.product-single__options .option-select__item .checkmark.checkmark-color{
  background: var(--data-color);
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product-single__options .option-select__item input:disabled + .checkmark {
  background: #f1f1f1;
  color: #b9b9b9;
  cursor: not-allowed;
}

.product-single__options .option-select__item .checkmark--color {
  height: 32px;
  max-width: 65px;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: cover !important;
}

.product-single__options .option-select__item .checkmark:hover {
  color: initial;
}

.product-single__options .option-select__item .checkmark--color:after, 
.product-single__options .option-select__item .checkmark--color:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.125rem;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}

.product-single__options .option-select__item .checkmark--color:after {
    border: 2px solid #2f5acf;
}

 .product-single__options .option-select__item .checkmark--color:before {
  border: 4px solid var(--white);
 }

.product-single__options .option-select__item input:checked~.checkmark:after,
.product-single__options .option-select__item input:checked~.checkmark:before {
  opacity: 1;
}

.product-single__options .option-size-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 100%;
}

.product-single__options .option-size-tooltip__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.product-single__options .option-size-tooltip__inner {
    background-color: var(--white) !important;
    color: var(--black) !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.0666666667);
    border: 1px solid #d9d9d9;
    padding: 5px 15px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 14px;
}

.product-single__options .option-size-tooltip__inner:before {
    background-color: #fff;
    box-shadow: -1px -1px 1px 0 hsla(0,0%,69.8%,.4);
    content: "\A0";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 2px auto auto;
}

.product-single__options .option-select__item input:checked~.checkmark:not(.checkmark-color) {
  background-color: var(--secondary);
  color: var(--white);
}
.product-single__options .option-select__item input:checked~.checkmark.checkmark-color {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(0 0 0) 0px 0px 0px 3px;
}

.product-single__options .option-select__item.option-size:hover .option-size-tooltip {
  visibility: visible;
}

.product-single__options .option-heading__sizeguide {
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-decoration: underline;
  color: #2f5acf;
}

.quantity {
    display: flex;
    width: 100px;
    height: 40px;
    border: 1px solid var(--black);
    border-radius: 1.8rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.quantity__augure,
.quantity__reduce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 100%;
    line-height: 1em;
    color: var(--black);
}

.quantity input[type=number] {
    border: 0;
    background-color: transparent;
    pointer-events: none;
    text-align: center;
    flex: 1;
    max-width: 40px;
    -moz-appearance: textfield;
}

.quantity input[type=number]:focus-visible {
  outline: none;
}

.product-single__actions {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: 2.5rem;
}

.product-single__button {
    flex: 1;
    padding-left: 14px;
}

.product-single__button a {
  position: relative;
  transition: all .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: var(--primary);
  color: var(--white);
  letter-spacing: 0.32px;
  text-transform: capitalize;
  font-family: 'SVN-Poppins Bold', sans-serif;
  padding: 12px 68px;
  border-radius: 21px; 
}

.product-single__button a:hover {
  background: var(--red);
  color: var(--white);
}

.product-single__addtocart {
    padding-bottom: 35px;
    border-bottom: 1px solid #d9d9d9;
}

.product-detail__description {
  padding-top: 32px;
}

.product-detail__description p {
  color: var(--black);
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 12px;
}

.product-detail__description ul {
  list-style: disc;
  padding-left: 24px;
}

.product-detail__description li {
  list-style: disc;
  font-size: 14px;
  line-height: 30px;
  color: var(--black);
}

.product-tabs {
    margin-top: 40px;
}

.product-tabs ul {
    justify-content: space-around;
    flex-wrap: nowrap;
}

.product-tabs ul li {
/*    border-bottom: 1px solid #E7E7E7;*/
}

.product-tabs ul li .nav-link {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #7E7E7E;
    border: none;
    cursor: pointer;
}

.product-tabs ul li .nav-link.active {
  color: var(--black);
  border-bottom: 2px solid var(--primary);
}

.product-detail_description {
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}

.product-detail_description::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(hsla(0,0%,100%,0),#fff);
  pointer-events: none;
  display: none;
}

.product-detail_description.is-show::before {
  display: block;
}

.product-detail_description h4 {
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 23px;
}

.description-details p {
  display: none;
}

.loadmore-detail__product {
  text-align: center;
  margin-top: 20px;
}

.product-description__loadmore {
  display: inline-block;
  letter-spacing: 0.32px;
  text-transform: capitalize;
  color: var(--black);
  padding: 9px 42px;
  border-radius: 21px;
  border: 1px solid var(--black);
  text-align: center;
}

.product-description__loadmore:hover {
  color: var(--white);
  background: var(--primary);
  border-color: var(--primary);
}


/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 992px) {

  .header__menu {
    display: none;
  }

  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
    z-index: 98;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }

  .offcanvas-menu-overlay.active {
    visibility: visible;
  }

  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    padding: 50px 20px 30px 30px;
    display: block;
    z-index: 9999;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }

  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }

  .offcanvas__nav__option {
    text-align: center;
    margin-bottom: 25px;
  }

  .offcanvas__nav__option a {
    display: inline-block;
    margin-right: 26px;
    position: relative;
  }

  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }

  .slicknav_btn {
    display: none;
  }

  .slicknav_nav {
    display: block !important;
  }

  .slicknav_nav .slicknav_row, .slicknav_nav a {
    padding: 7px 0;
    margin: 0;
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 16px;
    font-family: "SVN-Poppins Bold", sans-serif;
  }

  .canvas__open {
    display: block;
    font-size: 22px;
    color: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 25px;
  }

  .header__nav__option {
    display: none;
  }

  .offcanvas__nav__option a:last-child {
    margin-right: 0;
  }

  .content-banner p:nth-child(3) {
    width: 70%;
    margin-bottom: 16px;
  }

  .slider-banner .owl-dots {
    height: 10px;
    /*bottom: 16px;*/
  }

  .section-heading h5 {
    font-size: 26px;
  }

  .product-block .nav-product-tabs li a {
    font-size: 12px;
  }

  .group-button-list {
    justify-content: initial;
  }

  .list-group-product .item {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .product-tabs ul li .nav-link {
    font-size: 16px;
    line-height: 24px;
  }

  .option-heading__title {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {

  .search-model-form input[type="text"] {
    width: 100%;
  }

  .content-banner p:nth-child(3) {
    width: 100%;
  }

  .section-heading h5 {
    font-size: 24px;
  }

  .nav-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .nav-product-tabs {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .product-block .nav-product-tabs li a {
    font-size: 16px;
  }

  .content-ads {
    width: 65%;
    left: 10px;
  }

  .content-ads h6 {
    font-size: 20px;
    line-height: 30px;
  }

  .bottom-footer {
    padding-bottom: 45px;
  }

  .bottom-footer p {
    text-align: center;
  }

  .bottom-footer ul {
    justify-content: center;
  }

  .group-button-list {
    gap: 0;
  }

  .item-button {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 5px 10px;
    text-align: center;
  }

  .item-button:last-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .item-button a {
    font-size: 12px;
  }

  .list-group-product .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .product-single .product-info h6 {
    font-size: 21px;
    margin-bottom: 8px;
  }

  .option-heading__title,
  .product-single__options .option-heading__sizeguide {
    font-size: 10px;
  }

  .product-single__options .option-heading__sizeguide {
    white-space: nowrap;
  }

  .product-single__button a {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .scroll-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}





#preloader {
  overflow: hidden;
  background-color: #2a2a2a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*product review*/
.review-star .radio-group{
  display: flex;
  flex: 1;
}
.review-star .radio-group div{
  display: flex;
}
.review-star .radio-group label{
  cursor: pointer;
  padding: 0 3px;
  color: #cacaca;
  text-align: center;
  font-weight: normal;
  margin: 0;
  font-size: 18px;
}

/*.review-star .radio-group input:checked+label,*/
.review-star .radio-group label.active,
.review-star .radio-group label:hover{
    color: #f5a623;
}
.review-star .radio-group input{
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

#review label{
    font-weight: bold;
}
#review input,
#review textarea{
    font-size: 14px;
    padding: 7px;
}


.up_picture_rate label{
    cursor: pointer;
}
.up_picture_rate input{
    opacity: 0;
}

.view_thumbnail {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.view_thumbnail .btn {
    color: #f00;
    background-color: #fff;
    border-color: #f00;
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    z-index: 99;
    font-size: 12px;
    padding: 3px 5px;
    line-height: 1;
    width: 20px;
    height: 20px;
}
.review-star .voted{
    color: #fd9727;
}

.review-detail{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
}
.r-date{
    font-size: 14px;
    color: #878787;
}

.icon-replies-count{
    color: #2f80ed;
    font-size: 13px;
    cursor: pointer;
}

.box_reply{
    display: none;
    border: 1px solid #dadada;
    padding: 5px;
    padding-left: 15px;
    border-radius: 3px;
    position: relative;
    margin: 10px 0 5px;
    background: #f1f1f1;
}

.box_reply:after, .box_reply:before {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box_reply:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f1f1f1;
    border-width: 9px;
    margin-left: -9px;
}
.box_reply:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #dadada;
    border-width: 10px;
    margin-left: -10px;
}
.list_rate_title{
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.reply_item .list_rate_title span{
    color: #4bab02;
    font-size: 14px;
    font-weight: bold;
}

.count-comment{
    position: absolute;
  right: 15px;
  font-size: 13px;
  color: #f15a34;
}
.count-comment span{
    color: #333;
}
.count-comment span.error{
    color: #f15a34;
}

#aniimated-thumbnials img{
    max-height: 65px;
}
/*product review*/
/* rate_thongke */
.rate_thongke{
    border: 1px solid #ddd;
    /*border-radius: 10px;*/
    max-width: 1000px;
    margin: auto;
}

.rate_thongke hr{
    background-color: #7c7c7c;
}

.thongke_star .rate_diem{
    font-size: 40px; color: #fd9727;
}

.thongke_star_detail{
    border-left: 1px solid #efefef;
}

.thongke_star_detail ul {padding: 0;margin: 0;}
.thongke_star_detail ul li{
    display: flex; align-items: center; justify-content: center;
}

.thongke_star_detail .tk_star,
.thongke_star_detail .tk_progress,
.thongke_star_detail .tk_num{
    display: inline-block;
    padding: 0 3px;
    font-size: 14px;
    color: #9a9a9a;
}
.thongke_star_detail .tk_star, .thongke_star_detail .tk_num{width: 42px;}
.thongke_star_detail .tk_progress{ width: 130px;}

.thongke_star_detail .tk_progress .progress{
    height: 5px;
}
.thongke_star_detail .tk_progress .progress-bar{
        background-color: #fd9727;
}


.view_thumbnail img{
    display: inline-block;
    max-height: 80px;
}


/* end rate_thongke */


/*banner-head-img*/
.banner-head-img {
  height: 500px;
  position: relative;
}
.banner-head-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 767px)
{
  .banner-head-img {
    height: auto;
  }
}
/*banner-head-img*/

/*product list*/
.lds-ellipsis {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    display: none;
    margin: auto
}

.lds-ellipsis div {
    position: absolute;
    top: 14px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #46b1b3;
    animation-timing-function: cubic-bezier(0,1,1,0)
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 .6s infinite
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 .6s infinite
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 .6s infinite
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 .6s infinite
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0,0)
    }

    100% {
        transform: translate(24px,0)
    }
}
/*product list*/

/*box_member_sale*/
.box_member_sale {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}
/*box_member_sale*/

/*content loading*/
.mh-100{
    min-height: 100px !important;
}
.list-content-loading {
  background: rgba(0, 0, 0, .3);
  border-radius: 3px;
  bottom: 0;
  display: none;
  left: 0;
  /*margin: -15px;*/
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1021;
}

.half-circle-spinner {
  border-radius: 100%;
  height: 60px;
  margin: 20px auto;
  position: relative;
  width: 60px
}

.half-circle-spinner,
.half-circle-spinner * {
  box-sizing: border-box
}

.half-circle-spinner .circle {
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%
}

.half-circle-spinner .circle.circle-1 {
  -webkit-animation: half-circle-spinner-animation 1s infinite;
  animation: half-circle-spinner-animation 1s infinite;
  border-top-color: var(--color-primary)
}

.half-circle-spinner .circle.circle-2 {
  -webkit-animation: half-circle-spinner-animation 1s infinite alternate;
  animation: half-circle-spinner-animation 1s infinite alternate;
  border-bottom-color: var(--color-primary)
}

@-webkit-keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

.list-content-loading .half-circle-spinner .circle.circle-1 {
  border-top-color: #fff
}

.list-content-loading .half-circle-spinner .circle.circle-2 {
  border-bottom-color: #fff
}

.list-content-loading .half-circle-spinner {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.list-content-loading .half-circle-spinner .circle {
  border: 5px solid transparent
}

@media screen and (max-width:768px) {
  .list-content-loading {
    top: 15px
  }
}


@-webkit-keyframes button-loading-spinner {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes button-loading-spinner {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}
/*content loading*/

/*blog-post-content*/

.blog-post-content {
  font-size: 16px;
}
.blog-post-content h1, .blog-post-content h2, .blog-post-content h3, .blog-post-content h4, .blog-post-content h5, .blog-post-content h6 {
  font-size: 22px;
  margin-bottom: 10px;
}
.blog-post-content p{
  font-size: 16px;
}
.blog-post-content ul {
  padding-left: 30px;
}
.blog-post-content li {
  list-style: disc;
}

.blog-featured {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}
.blog-featured ul {
  padding-left: 30px;
}
.blog-featured li {
  list-style: disc;
}
.blog-featured a{
  color: #000;
  font-size: 14px;
}
.blog-featured a:hover {
  color: #ff9c00;
}
@media(max-width: 767px)
{
  .blog-post-content ul {
    margin-left: 20px;
  }
}
/*blog-post-content*/