html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
:focus {
    outline: 0 !important;
    text-decoration: none !important;
}
html, body {
    margin: 0 !important;
    padding: 0;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: middle !important;
    margin-top: 0px !important;
}
button {
    cursor: pointer;
}
body {
    line-height: 1;
    position: relative;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
caption, th, td {
    text-align: left;
    padding: 5px 10px;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: none;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, time {
    display: block;
}
li {
    list-style-type: none;
}

audio,
canvas,
progress,
video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],
template{display:none;}
a{background:transparent;}
a:active,
a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,
strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background:#ff0;color:#666666;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}

hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em;}
button,
input,
optgroup,
select,
textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],
html input[disabled]{cursor:default;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;vertical-align:middle !important;margin-top:0px !important;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td,
th{padding:0;}

a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
a:hover, a:active,a:focus{
    color: #000;
    text-decoration: none;
}
a:active, a:hover{
    outline:0;
}
em { 
    font-style: italic;
}
h1, h2, h3, h4, h5, h6, span {
    margin:0px;
    padding:0px;
}
figure {
    max-width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, time {
    display: block;
}

b, strong {
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
    line-height:1.5;
}
h1, h2, h3, h4, h5, h6, span{
    margin:0px;
    padding:0px;
}

p{
    margin:0;
}
i{
	font-style: italic;
}
b,strong{
	font-weight: bold;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

}
body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
    overflow-x: hidden;
    font-size: 14px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
p {
    margin: 0 0 11px;
    font-size: 14px;
}
body.push{
    left:-280px;
    overflow:hidden;
}
body.fixed{
    overflow:hidden;
}
.fl,.l{
    float:left;
}
.fr,.r{
    float:right;
}
.hidden{
    display: none !important;
}
h1 {
    font-size:45px;
    margin-top:0px;
}
h2 {
    font-size: 30px;
}
h2, h3, h4, h5 {
    margin: 0;
}
h3 {
    font-size: 25px;
    line-height:28px;
}
h4 {
    font-size:19px;
}
h5 {
    font-size: 17px;
    line-height:24px;
}
img {
    max-width: 100%;
    border:none;
    margin:0;
    padding:0;
}

.custom-select,
.btn,
.form-control{
    font-size: 14px;
}

.img-responsive{
    max-width: 100%;
    height: auto;;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.p-0{
    padding-left:0;
    padding-right: 0;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    transition: all .3s ease-in-out;
}
a{
    color: #3097d1;
    text-decoration: none;
}
ol, ul {
    list-style: outside none none;
    margin:0;
    padding:0;
}
.mobile {
    display: none !important;
}
.hide{display:none !important;}
.relative{
    position: relative;
}
table{
    width:100%;
}
.white {
    color:#fff;
}
.no-padding-bottom {
    padding-bottom:0 !important;
}
.no-padding-top {
    padding-top:0 !important;
}
.b,b{ font-weight:bold !important; }
.txt-red{ 
    color:red; 
}
.clearfix, .clear{
    zoom: 1;
}
.clearfix:after, .clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.brand-link{
    font-size: 18px !important;
}

.container_group_setting input{
    padding: 8px 12px;
    line-height: 1.5;
}
#showBtn{
    margin-right: 8px;
}
.group-action a{
    font-size: 14px;
}
.custom-file-link{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 35px;
    margin: 0;
    opacity: 1;
}
.custom-file-label-thumb {
    width: 100px;
    z-index: 9;
    right: 0;
    left: inherit;
    position: relative;
}
.group_item_images .inside {
    margin-bottom: 5px;
}
.icon_change_postion {
    width: 4%;
    float: left;
    display: block;
}
.icon_change_postion .ui-icon-arrowthick-2-n-s {
    line-height: 30px;
    display: block;
    margin-top: 5px;
}
.text_input_file_image {
    float: left;
    width: 75%;
    display: block;
}
.mybutton_upload_img {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(124, 184, 231, 1) 99%, rgba(125, 185, 232, 0) 100%) repeat scroll 0 0;
    border: 0px solid #ebebeb;
    color: #fff;
    display: block;
    float: right;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 14%;
    z-index: 1999;
    border-radius: 5px;
}
input.upload_gallery_file, input.upload_gallery_variable, input.upload_icon_variable, input.upload_gallery_variable_select {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.add_link .add {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0px 10px;
    line-height: 26px;
    border: 1px solid #EBEBEB;
    text-align: center;
    color: #FFF;
    z-index: 1999;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjN2NiOGU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(124,184,231,1) 99%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(124,184,231,1)), color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );
    margin-top: 9px;
}
.errorTxt{
    color: #ff0000;
    font-weight: bold;
    font-size: 15px;
}
.errorTxt .error{
    position: relative;
    padding-left: 12px;
    margin-bottom: 5px;
}
.errorTxt .error:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: #ff0000;
    border-radius: 50%;
}
#tabLang{
    margin-bottom: 15px;
}
.btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
    color: #636b6f;
    background-color: #e6e5e5;
    border-color: #adadad;
}
.action_group_box_touth{
    margin-bottom: 5px;
}
.action_group_box_touth label{
    display: block;
}
#table_index th, #table_index td{
    vertical-align: middle;
    padding: 5px;
}
.list_cat_post_content_link a.tag {
    border: 1px solid #000;
    padding: 2px 5px;
    margin-right: 5px;
    display: flex;
    align-content: center;
    margin-bottom: 5px;
    color: #0b2e13;
    background: #fde1f0;
    border-radius: 5px;
}
.variable-products-group .btn-group, .variable-products-group .btn-group button {
    width: 100%;
}
.btn-default {
    color: #636b6f;
    background-color: #fff;
    border-color: #ccc;
}
.variable-products-group .multiselect-container {
    width: 100%;
    z-index: 99999;
}
.variable-products-group .input-group-btn{
    right: 10px;
}
.variable-products-group .dropdown-toggle::after{
    content: none;
}
#variable_add_append {
    display: block;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
}
.variation-table {
    flex-basis: 770px;
    width: 100%;
    max-width: 100%;
    display: block;
}
.variation-table .table-body, .variation-table .table-header, .variation-table .table-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.variation-table .table-header .table-cell {
    background-color: #fafafa;
    color: #999;
    font-weight: bold;
    vertical-align: middle;
}
.variation-table .table-cell {
    position: relative;
    background-color: #FFF;
    color: #333;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #999;
    border: 1px solid #ebebeb;
    border-bottom-width: 0;
    border-right-width: 0;
    word-break: break-word;
    line-height: 40px;
}
.variation-table .table-header {
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.variation-table .table-cells {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    word-break: break-word;
    position: relative;
}
.variation-table .table-cell-two {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.variation-table .table-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.variation-table .table-row {
    width: 100%;
}
.text_input_file_image_variable {
    float: left;
    width: 80%;
    display: block;
    margin: 5px;
}
#variable_add_append input.myfile_gallery_store_select {
    color: #0a90eb;
}
.variation-table .mybutton_upload_img, .variation-table #tbl_search_map_addr {
    top: 5px;
}
.anhduong-input__prefix, .anhduong-input__suffix {
    display: table-cell;
    width: 1px;
    height: 100%;
    line-height: 0;
    color: #999;
    white-space: nowrap;
    vertical-align: middle;
    position: absolute;
    top: 8px;
    left: 13px;
    z-index: 5;
}
#variable_add_append .variation-table input.anhduong-input__input {
    padding-left: 25px;
    padding-right: 5px;
    position: relative;
    color: #CC0000;
    z-index: 4;
}
.anhduong-input__prefix-split, .anhduong-input__suffix-split {
    display: inline-block;
    width: 1px;
    height: calc(100% - 14px);
    margin-left: 8px;
    vertical-align: middle;
    background: #eee;
}
.variation-table input.anhduong-input__input {
    line-height: 22px;
    margin: 5px 5px;
    padding: 2px 3px;
    width: calc(100%-10px);
    width: calc(100% - 10px);
}
.space_input_demo .myfile_gallery_store {
    margin-top: 15px;
}
.icon_change_postion.image_view.image_show_demo {
    width: 10%;
}
.icon_change_postion {
    width: 4%;
    float: left;
    display: block;
}
.group_item_images .inside {
    margin-bottom: 5px;
}
.icon_change_postion .ui-icon-arrowthick-2-n-s {
    line-height: 30px;
    display: block;
    margin-top: 5px;
}
.text_input_file_image {
    float: left;
    width: 75%;
    display: block;
}
ul#muti_menu_post {
    padding-left: 5px;
    display: block;
    list-style: none;
    font-size: 15px;
}
ul#muti_menu_post>li {
    display: block;
}
ul#muti_menu_post>li label {
    word-wrap: break-word;
    margin-bottom: 5px;
}
ul#muti_menu_post>li input[type="checkbox"], ul#muti_menu_post>li input[type="radio"] {
    margin-right: 5px;
}
ul#muti_menu_post>li>ul {
    padding-left: 15px;
    display: block;
    list-style: none;
}
ul#muti_menu_post>li>ul>li {
    display: block;
    word-wrap: break-word;
}
ul#muti_menu_post>li>ul>li>ul {
    padding-left: 25px;
    display: block;
    list-style: none;
}
ul#muti_menu_post>li>ul>li>ul>li {
    display: block;
    word-wrap: break-word;
}
.user-owner-product{
    padding-bottom: 15px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    position: relative;
}
.input-group-addon i{
    position: relative;
    top: 4px;
}
.input-group-btn, .input-group-btn>.btn {
    position: relative;
}
.input-group-btn {
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.alternate_check_hide.action {
    display: table-row !important;
}
table.table_child_bt tr th {
    background: #e1e1e1 !important;
    color: #FFF;
}
table.table_child_bt tr th, table.table_child_bt tr td{
    padding: 3px 10px;
    text-align: center;
}
table.table_child_bt tr td a{
    color: #3097d1;
    font-weight: bold;
}
table.table_child_bt tr td.slug_varibles{
    color: #880000;
}
.file_csv_up {
    float: left;
    width: 84%;
}
div#csv_upload_mobile, div#csv_upload_pc {
    display: block;
    overflow: hidden;
    position: relative;
    width: 14%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    z-index: 1999;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjN2NiOGU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(124,184,231,1) 99%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(99%,rgba(124,184,231,1)), color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(124,184,231,1) 99%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );
    float: right;
}
input#csv_slishow, input#csv_slishow_mobile {
    cursor: pointer;
    font-size: 100px;
    height: 26px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
#table_index th{
    font-weight: bold;
    text-transform: uppercase;
    color: #00AFFF;
}
.item-level-1 .title{
    padding-left: 30px !important;
}
.item-level-2 .title{
    padding-left: 60px !important;
}
.error-msg{
    color: red;
    font-weight: bold;
}
#tbl-order-detail img{
    height: 90px;
}
#variable_add_append {
    display: block;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
}
#variable_add_append .item_variable_gennerate {
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    border: 1px dashed #FF0000;
    border-radius: 5px;
}
.name_color_variable {
    color: #FF0000;
    font-style: italic;
}
.text_input_file_image_variable {
    float: left;
    width: 80%;
    display: block;
}
.content_variable_images .title_txt {
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 5px;
}
.content_variable_images .img_demo img{
    margin-left: 5px;
    margin-top: 5px;
}
.hide-lang{
    display: none;
}

.card-body{
    padding: 10px;
}

.demo-img{
    background: #f1f1f1;
    text-align: center;
}

.package_status{
    font-size: 13px;
    color: #333;
    line-height: 1.4;
}
.package_status p{
    margin-bottom: 5px;
}

.package_status .status-ok,
.package_status .status-wait,
.package_status .status-payment-wait{
    font-size: 12px;
    color: #f5222d;
    background: #fff1f0;
    border: 1px solid #ffa39e;
    border-radius: 2px;
    line-height: 20px;
    padding: 0 7px;
    margin-left: 10px;
}
.package_status .status-ok{
    border-color: #3ab51b;
    color: #3ab51b;
    background: #a0d69317;
}
.package_status .status-wait{
    border-color: #fe7d09;
    color: #fe7d09;
    background: #fff6ed;
}

/*//tag input*/
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #6a6a6a;
    border-radius: 3px;
    padding: 3px;
    margin: 3px 0;
    display: inline-block;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*//tag input*/

/*content loading*/
.mh-100{
    min-height: 100px !important;
}
.list-content-loading {
  background: rgba(0, 0, 0, .3);
  border-radius: 3px;
  bottom: 0;
  display: none;
  left: 0;
  /*margin: -15px;*/
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}

.half-circle-spinner {
  border-radius: 100%;
  height: 60px;
  margin: 20px auto;
  position: relative;
  width: 60px
}

.half-circle-spinner,
.half-circle-spinner * {
  box-sizing: border-box
}

.half-circle-spinner .circle {
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%
}

.half-circle-spinner .circle.circle-1 {
  -webkit-animation: half-circle-spinner-animation 1s infinite;
  animation: half-circle-spinner-animation 1s infinite;
  border-top-color: var(--color-primary)
}

.half-circle-spinner .circle.circle-2 {
  -webkit-animation: half-circle-spinner-animation 1s infinite alternate;
  animation: half-circle-spinner-animation 1s infinite alternate;
  border-bottom-color: var(--color-primary)
}

@-webkit-keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

.list-content-loading .half-circle-spinner .circle.circle-1 {
  border-top-color: #fff
}

.list-content-loading .half-circle-spinner .circle.circle-2 {
  border-bottom-color: #fff
}

.list-content-loading .half-circle-spinner {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.list-content-loading .half-circle-spinner .circle {
  border: 5px solid transparent
}

@media screen and (max-width:768px) {
  .list-content-loading {
    top: 15px
  }
}


@-webkit-keyframes button-loading-spinner {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes button-loading-spinner {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}
/*content loading*/

.popover-title{
    display: flex;
}

.custom-select,
.form-control{
    height: unset;
}

/*card*/
.content-header h1 {
    font-size: 1rem;
}
.card-header{
    padding: 10px;
    background: rgba(0,0,0,.03);
}

/*card*/

/*sidebar*/
.nav-link {
}
[class*=sidebar-dark-] .sidebar a,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    display: flex;
    align-items: center;
    color: #e9e9e9;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: #000;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #ffffff85;
    color: #ffffff;
    border-radius: 0;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: #ffffff85;
    color: #fff;
    border-radius: 0;
}

.nav-sidebar .nav-link>.right:nth-child(2), .nav-sidebar .nav-link>p>.right:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
/*sidebar*/

/*select2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border-color: #006fe6;
    color: #fff;
    padding: 0 10px;
    margin-top: 0.31rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #fff;
}
/*select2*/

/*gallery*/
.gallery_box{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
}
.gallery_box .gallery_item {
    display: inline-block;
    padding: 5px;
    width: 33%;
    height: 110px;

}
.gallery_box .gallery_content {
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
/*    line-height: 120px;*/
    text-align: center;
    position: relative;
    height: 100%;
}
.gallery_box .gallery_item img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
.gallery_box .gallery_item.blue-background-class .gallery_content {
    background: #a3a3a3;
}
.gallery_box .gallery_item.blue-background-class img{
    opacity: 0.2;
}
.gallery_box .gallery_item .remove{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
/*    box-shadow: 0 0 2px #000;*/
    font-size: 14px;
    color: #f00;
    cursor: pointer;
}
/*gallery*/

/*variable-list*/
.variable-list .gallery_box .gallery_item {
    width: 85px;
}

/*variable-list*/