.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-bottom-color: var(--primary);
}

.cart__meta-text {
    font-size: 13px;
}

.page-checkout .custom-control-label{
	line-height: 24px;
}

.shop-address-list h3 {
    font-size: 17px;
    font-weight: 700;
}

/*list-pay-type*/
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #d0a02a;
}
.list-group-item.list-pay-item{
	background: #1f1f1f;
	color: #fff;
}
.list-pay-item img{
    width: 70px;
}

.banklist {
    position: relative;
}
.banklist [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.banklist label{
  flex: 0 0 20%;
  padding: 3px;
/*  position: relative;*/
}
.banklist .img {
  border: 1px solid #ccc;
  background: #fff;
  height: 100%;

}
.banklist img {
    max-width: 100%;
    max-height: 100%;
}
.banklist input[type="radio"]:checked+.img,
.banklist .img:hover {
    border-color: #f4e27b;
    -webkit-box-shadow: 2px 2px 2px 0 rgb(0 102 153);
    -moz-box-shadow: 2px 2px 2px 0 rgba(0,102,153,1);
    box-shadow: 2px 2px 2px 0 rgb(178 118 39);
    cursor: pointer;
}

.banklist .error{
    position: absolute;
    top: 21px;
    left: 2px;
    font-size: 13px;
}

.banklist.banklist-visa label{
    display: flex;
    /*justify-content: center;*/
}
.banklist.banklist-visa img{
    width: auto;
    height: 38px;
}

@media(max-width: 580px){
    .banklist label{
        width: 33%;
        padding: 3px 6px;
    }
    .banklist.banklist-visa img {
        object-fit: cover;
    }
}
/*list-pay-type*/

/*shipping*/
.shipping {
    display: none;
}
.shipping.show{
    display: flex;
}
.shipping .shipping-time{
    font-size: 13px;
    color: #6e6e6e;
}
/*shipping*/

.cart__row_item {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.cart__row_item:last-child{
    border-bottom: 1px solid #dee2e6;
}
.cart__row_item > a{
    width: 80px;
    margin: 0 15px 0 0;
    overflow: hidden;
}
.cart__row_item .info_right {
    flex: 1;
}
.cart__row_item .product-title a{
    font-size: 14px;
    color: #000;
}

/*render cart total*/
#showTotal {
    margin-top: 20px;
    margin-bottom: 20px
}

#showTotal .showTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px
}
#showTotal .showTotal:last-child {
    border: none;
}

#showTotal .showTotal .tille {
font-weight: 600
}

#showTotal .showTotal .price {
color: #6D6E6E
}

#showTotal .showTotal .price {
color: #000
}

#showTotal .showTotal .price.total {
color: var(--red);
font-weight: 600
}
/*render cart total*/

/*discount*/
.discount {
    position: relative;
    transition: all 0.3s;
}
.discount:hover {
    padding-left: 25px;
}
.discount #removeCoupon{
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    opacity: 0;
    color: #f00;
    transition: all 0.3s;
    cursor: pointer;
}

.discount:hover #removeCoupon {
    opacity: 1;
    left: 5px;
}
/*discount*/